# Pleiades mixed tables

Luisa Rebull provides two tables a main one for which they do have rotation, and a supplementary table without. (\_main or \_supp suffixes in downloads).
Here I merge the relevant columns together and write out a csv file without any suffix.

In [1]:
import pandas as pd
import numpy as np
usecols = ['RAJ2000','DEJ2000','Mm', 'EPIC']

def convert_best_ok(s):
    """
    Assign membership probabilities as
    described in paper.
    """
    if s=='best':
        return .9
    elif s == 'ok':
        return 0.6
    else:
        return 0.1

In [2]:
d1 = pd.read_csv('downloads/clusters_Rebull/pleiades_rebull_main.tsv', delimiter='\t', skiprows=72, usecols=usecols)
print("Used columns: ", d1.columns.values)

Used columns:  ['EPIC' 'RAJ2000' 'DEJ2000' 'Mm']

In [3]:
d1.Mm = d1.Mm.apply(convert_best_ok)
d1.head()

,EPIC,RAJ2000,DEJ2000,Mm
0,210991540,52.95768,22.84023,0.9
1,211016313,53.03274,23.23265,0.9
2,211029135,53.15753,23.43315,0.9
3,211037397,53.17625,23.56679,0.9
4,210946764,53.27427,22.13423,0.9

In [4]:
d2 = pd.read_csv('downloads/clusters_Rebull/pleiades_rebull_supp.tsv', delimiter='\t', skiprows=56, usecols=usecols)

In [5]:
d2.Mm = d2.Mm.apply(convert_best_ok)
d2.head()

,EPIC,RAJ2000,DEJ2000,Mm
0,210784603,52.76490,19.63475,0.9
1,210899735,53.00981,21.38635,0.9
2,210904850,53.04807,21.46559,0.9
3,210971138,53.29373,22.52204,0.9
4,211029507,53.82811,23.43919,0.9

In [6]:
d3 = d1.append(d2)
d3.describe(), d1.describe(), d2.describe()

(               EPIC     RAJ2000     DEJ2000          Mm
 count  8.260000e+02  826.000000  826.000000  826.000000
 mean   2.110508e+08   56.973080   23.613358    0.850605
 std    3.245951e+05    1.424880    1.192083    0.192668
 min    2.107549e+08   52.764900   19.185040    0.100000
 25%    2.110106e+08   56.120790   23.137085    0.900000
 50%    2.110565e+08   56.813880   23.873630    0.900000
 75%    2.110894e+08   57.559198   24.394488    0.900000
 max    2.201159e+08   62.515830   25.964610    0.900000,
                EPIC     RAJ2000     DEJ2000          Mm
 count  7.590000e+02  759.000000  759.000000  759.000000
 mean   2.110519e+08   56.961251   23.617093    0.854677
 std    3.375391e+05    1.379920    1.167434    0.185065
 min    2.107549e+08   52.957680   19.185040    0.100000
 25%    2.110097e+08   56.115420   23.128970    0.900000
 50%    2.110555e+08   56.814060   23.861720    0.900000
 75%    2.110895e+08   57.528060   24.395035    0.900000
 max    2.201159e+08   62.515830   25.964610    0.900000,
                EPIC    RAJ2000    DEJ2000         Mm
 count  6.700000e+01  67.000000  67.000000  67.000000
 mean   2.110384e+08  57.107076  23.571044   0.804478
 std    9.141263e+04   1.868014   1.452086   0.261368
 min    2.107705e+08  52.764900  19.421360   0.100000
 25%    2.110210e+08  56.289500  23.265770   0.900000
 50%    2.110679e+08  56.799400  24.051440   0.900000
 75%    2.110889e+08  58.253565  24.387820   0.900000
 max    2.111622e+08  61.154900  25.664180   0.900000)

In [7]:
d3.to_csv('downloads/clusters_Rebull/pleiades_rebull.csv',index=False)