In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("downloads/clusters_GaiaC/hyades.tsv",delimiter="\t", skiprows=52)
df.head()

,_RAJ2000,_DEJ2000,Source,Cluster,RA_ICRS,DE_ICRS,Gmag,plx,e_plx,_RA.icrs,_DE.icrs
0,64.87461,21.75372,49520255665123328,Hyades,64.87461,21.75372,12.861,20.866,0.033,64.87461,21.75372
1,60.20378,18.19388,49729231594420096,Hyades,60.20378,18.19388,5.790,21.789,0.045,60.20378,18.19388
2,59.80696,20.42805,51383893515451392,Hyades,59.80696,20.42805,12.570,22.737,0.006,59.80696,20.42805
3,66.06127,21.73605,145373377272257664,Hyades,66.06127,21.73605,6.990,23.109,0.003,66.06127,21.73605
4,67.00371,21.61972,145391484855481344,Hyades,67.00371,21.61972,5.643,19.968,0.067,67.00371,21.61972

In [4]:
# save the Gaia IDs to text 
df.Source.dropna().to_csv("downloads/clusters_GaiaC/gaiaidshyades_gaiac.txt", index=False, header=True)

### You need to go to the Gaia archive and propagate epoch 2015.5 coordinates to epoch 2000

Here is the ADQL query (modify `user_eilin`, and other details as needed):

    SELECT source_id, 
           COORD1(EPOCH_PROP_POS(ra, dec, parallax, pmra, pmdec, radial_velocity, 2015.5, 2000)),
           COORD2(EPOCH_PROP_POS(ra, dec, parallax, pmra, pmdec, radial_velocity, 2015.5, 2000)) 
    
    FROM gaiadr2.gaia_source as g
    
    INNER JOIN user_eilin.gaiachyades2 AS ei
    
    ON (g.source_id = ei.gch)

### After submitting the query, download results 

...as csv file to `"downloads/clusters_GaiaC/hyades_gaiac_coords_propagated_to_epoch2000.csv"`


### Finally

Merge new coordinates with Reino's table. 

Keep an eye on the `downloads/cluster_catalog_characteristics.csv` entry, update data format if needed (should be up to date).

In [5]:
corrected = pd.read_csv("downloads/clusters_GaiaC/hyades_gaiac_coords_propagated_to_epoch2000.csv")
corrected = corrected.rename(index=str, columns={"source_id":"Source",
                                                 "coord1":"RAJ2000_epoch2000",
                                                 "coord2":"DEJ2000_epoch2000"})
newdf = df.merge(corrected, on="Source")

In [6]:
newdf.to_csv("downloads/clusters_GaiaC/hyades_corr.csv", index=False)