In [1]:
import pandas as pd
import numpy as np

In [31]:
cluster = "pleiades"

In [32]:
df = pd.read_csv(f"{cluster}_luminosities.csv")

In [33]:
extra_campaigns = {"ngc2682": 5, "ngc2168": 0}

In [34]:
df.columns.values

array(['Unnamed: 0', 'EPIC', 'todrop', 'Dataset Name', 'Campaign',
       'Data Release', 'RAJ2000_K2', 'DEJ2000_K2', 'Target Type', 'RA PM',
       'RA PM Err', 'Dec PM', 'Dec PM Err', 'Plx', 'Plx Err', 'U Mag',
       'U Mag Err', 'B Mag', 'B Mag Err', 'V Mag', 'V Mag Err', 'G Mag',
       'G Mag Err', 'R Mag', 'R Mag Err', 'I Mag', 'I Mag Err', 'Z Mag',
       'Z Mag Err', 'J Mag', 'J Mag Err', 'H Mag', 'H Mag Err', 'K Mag',
       'K Mag Err', 'KEP Mag', 'Kep Flag', 'Hip ID', 'Tyc ID', 'SDSS ID',
       'UCAC ID', '2MASS ID', '2MASS Flag', 'crowding', 'contamination',
       'flux fraction', 'cdpp3', 'cdpp6', 'cdpp12', 'Module', 'Output',
       'Channel', 'Nearest Neighbor', 'Nomad ID', 'dist_mean_K2_arcmin',
       'RAJ2000_mean', 'DEJ2000_mean', 'RAJ2000_Olivares',
       'DEJ2000_Olivares', 'PMem_Olivares', 'binary_Olivares',
       'gaia_id_GaiaC', 'RAJ2000_GaiaC', 'DEJ2000_GaiaC', 'PMem_GaiaC',
       'dist_Olivares_GaiaC', 'RAJ2000_Olivares_GaiaC',
       'DEJ2000_Olivares_GaiaC', 'EPIC_id_Rebull', 'RAJ2000_Rebull',
       'DEJ2000_Rebull', 'PMem_Rebull', 'dist_Olivares_GaiaC_Rebull',
       'RAJ2000_Olivares_GaiaC_Rebull', 'DEJ2000_Olivares_GaiaC_Rebull',
       'RAJ2000_CG', 'DEJ2000_CG', 'gaia_id_CG', 'PMem_CG',
       'dist_Olivares_GaiaC_Rebull_CG', 'PMem_mean', 'ra_epoch2000_Gaia',
       'dec_epoch2000_Gaia', 'errHalfMaj_Gaia', 'errHalfMin_Gaia',
       'errPosAng_Gaia', 'source_id_Gaia', 'ra_Gaia', 'ra_error_Gaia',
       'dec_Gaia', 'dec_error_Gaia', 'parallax_Gaia',
       'parallax_error_Gaia', 'pmra_Gaia', 'pmra_error_Gaia',
       'pmdec_Gaia', 'pmdec_error_Gaia', 'duplicated_source_Gaia',
       'Gflux_Gaia', 'e_Gflux_Gaia', 'G_Gaia', 'BPflux_Gaia',
       'e_BPflux_Gaia', 'BP_Gaia', 'RPflux_Gaia', 'e_RPflux_Gaia',
       'RP_Gaia', 'BPRP_Gaia', 'radial_velocity_Gaia',
       'radial_velocity_error_Gaia', 'rv_nb_transits_Gaia',
       'teff_val_Gaia', 'a_g_val_Gaia', 'Ext_BPRP_Gaia',
       'radius_val_Gaia', 'lum_val_Gaia', 'angDist_Gaia', '2MASS_2MASS',
       'RAJ2000_2MASS', 'DEJ2000_2MASS', 'errHalfMaj_2MASS',
       'errHalfMin_2MASS', 'errPosAng_2MASS', 'J_2MASS', 'H_2MASS',
       'K_2MASS', 'e_J_2MASS', 'e_H_2MASS', 'e_K_2MASS', 'Qfl_2MASS',
       'Rfl_2MASS', 'X_2MASS', 'MeasureJD_2MASS', 'angDist_2MASS',
       'objID_PS1', 'RAJ2000_PS1', 'DEJ2000_PS1', 'errHalfMaj_PS1',
       'errHalfMin_PS1', 'errPosAng_PS1', 'f_objID_PS1', 'Qual_PS1',
       'Epoch_PS1', 'Ns_PS1', 'Nd_PS1', 'g_PS1', 'e_g_PS1', 'gFlags_PS1',
       'r_PS1', 'e_r_PS1', 'rFlags_PS1', 'i_PS1', 'e_i_PS1', 'iFlags_PS1',
       'z_PS1', 'e_z_PS1', 'zFlags_PS1', 'y_PS1', 'e_y_PS1', 'yFlags_PS1',
       'angDist_PS1', 'elo_Ext_BPRP_Gaia', 'eup_Ext_BPRP_Gaia',
       'Teff_StarHorse', 'e_Teff_StarHorse', 'e_G_Gaia', 'e_BP_Gaia',
       'e_RP_Gaia', 'BPRP_Gaia_corr', 'e_BPRP_Gaia_corr', 'g_SDSS',
       'e_g_SDSS', 'r_SDSS', 'e_r_SDSS', 'i_SDSS', 'e_i_SDSS', 'z_SDSS',
       'e_z_SDSS', 'y_SDSS', 'e_y_SDSS', 'FeH', 'e_FeH', 'J_H_BB',
       'e_J_H_BB', 'J_K_BB', 'e_J_K_BB', 'H_K_BB', 'e_H_K_BB', 'K_BB',
       'e_K_BB', 'J_H_Johnson', 'e_J_H_Johnson', 'K_Johnson',
       'e_K_Johnson', 'H_K_Johnson', 'e_H_K_Johnson', 'J_K_Johnson',
       'e_J_K_Johnson', 'J_Johnson', 'H_Johnson', 'e_J_Johnson',
       'e_H_Johnson', 'Teff_g_r_Boy', 'e_Teff_g_r_Boy', 'Teff_g_z_Boy',
       'e_Teff_g_z_Boy', 'Teff_g_i_Boy', 'e_Teff_g_i_Boy', 'Teff_g_J_Boy',
       'e_Teff_g_J_Boy', 'Teff_g_H_Boy', 'e_Teff_g_H_Boy', 'Teff_g_K_Boy',
       'e_Teff_g_K_Boy', 'Teff_Apsis', 'e_Teff_Apsis',
       'Teff_Mann_BP_RP_nan', 'e_Teff_Mann_BP_RP_nan',
       'Teff_Mann_r_z_nan', 'e_Teff_Mann_r_z_nan', 'Teff_Mann_r_J_nan',
       'e_Teff_Mann_r_J_nan', 'Teff_Mann_BP_RP_FeH',
       'e_Teff_Mann_BP_RP_FeH', 'Teff_Mann_r_z_FeH',
       'e_Teff_Mann_r_z_FeH', 'Teff_Mann_r_J_FeH', 'e_Teff_Mann_r_J_FeH',
       'Teff_Mann_BP_RP_isJH', 'e_Teff_Mann_BP_RP_isJH',
       'Teff_Mann_r_z_isJH', 'e_Teff_Mann_r_z_isJH', 'Teff_Mann_r_J_isJH',
       'e_Teff_Mann_r_J_isJH', 'Teff_median', 'Teff_std', 'Rstar',
       'e_Rstar', 'Rstar_double_check', 'e_Rstar_double_check',
       'Rstar_consistent', 'SED_SME', 'e_SED_SME', 'w_SED_SME', 'SpT',
       'SED_SJS', 'e_SED_SJS', 'w_SED_SJS', 'SED', 'e_SED', 'w_SED',
       'spectrum', 'planck_curve', 'e_planck_curve', 'Lum_SED',
       'e_Lum_SED', 'Lum_Kepler', 'e_Lum_Kepler', 'Lum_SB', 'e_Lum_SB'],
      dtype=object)

In [35]:

df[["EPIC", "PMem_mean"]]

            EPIC  PMem_mean
0    211091768.0   0.949999
1    211091768.0   0.949999
2    211008578.0   0.949998
3    211029232.0   0.949996
4    211029232.0   0.949996
..           ...        ...
900  211088007.0   0.900000
901  211088007.0   0.900000
902  211085527.0   0.900000
903  211040918.0   0.900000
904  211078780.0   1.000000

[905 rows x 2 columns]

In [43]:
df.EPIC = df.EPIC.astype(int)
df.Rstar = np.round(df.Rstar,2)
df.e_Rstar = np.round(df.e_Rstar,2).fillna(-999)
df.PMem_mean = np.round(df.PMem_mean,2).fillna(-999)
df.Lum_Kepler = df.Lum_Kepler.fillna(-999)
df.e_Lum_Kepler = df.e_Lum_Kepler.fillna(-999)
df.Campaign = np.rint(df.Campaign).fillna(extra_campaigns.setdefault(cluster, -999)).astype(int)
df.Teff_median = np.rint(df.Teff_median).fillna(-999).astype(int)
df.Teff_std = np.rint(df.Teff_std).fillna(-999).astype(int)
df.todrop = df.todrop.fillna("").str.replace("outlier","")
dfr = df.rename(index=str, columns={"EPIC":"ID",
                                   "todrop":"outlier",
                                   "Teff_median":"Teff",
                                   "Teff_std":"e_Teff",
                                   "Rstar":"R",
                                   "e_Rstar":"e_R",
                                   "PMem_mean":"pmem",
                                    "RAJ2000_K2":"RAJ2000",
                                    "DEJ2000_K2":"DEJ2000",
                                   })

In [46]:
dfr[["ID","outlier", "Teff", "e_Teff",
     "R", "e_R", "Lum_Kepler", "e_Lum_Kepler",
     "pmem","Campaign", "RAJ2000", "DEJ2000"]][dfr.ID == 211110493]

,ID,outlier,Teff,e_Teff,R,e_R,Lum_Kepler,e_Lum_Kepler,pmem,Campaign,RAJ2000,DEJ2000
155,211110493,,-999,-999,NaN,-999.0,-999.0,-999.0,1.0,4,55.75068,24.731255